[user]
    name = Equan Simmonds
    email = esimmonds@ncarb.org
[core]
    editor = '/Applications/Sublime Text.app/Contents/SharedSupport/bin/subl' -n -w
[alias]
    stash-unapply = !git stash show -p | git apply -R
    co = checkout
    ec = config --global -e
    up = !git pull --rebase --prune $@ && git submodule update --init --recursive
    cob = checkout -b
    cm = !git add -A && git commit -m
    save = !git add -A && git commit -m 'SAVEPOINT'
    undo = reset HEAD~1 --mixed
    amend = commit -a --amend
    wipe = !git add -A && git commit -qm 'WIPE SAVEPOINT' && git reset HEAD~1 --hard
    atop = !git fetch upstream && git rebase upstream/develop
[push]
    default = nothing
[commit]
    template = commitTemplate.txt
[filter "lfs"]
    clean = git-lfs clean %f
    smudge = git-lfs smudge %f
    required = true
[difftool "p4merge"]
    cmd = /opt/homebrew-cask/caskroom/p4merge/2014.3-1007540/p4merge.app/Contents/Resources/launchp4merge "\"$REMOTE\"" "\"$LOCAL\""
[mergetool "p4merge"]
	cmd = /opt/homebrew-cask/caskroom/p4merge/2014.3-1007540/p4merge.app/Contents/Resources/launchp4merge "\"$PWD/$BASE\"" "\"$PWD/$REMOTE\"" "\"$PWD/$LOCAL\"" "\"$PWD/$MERGED\""
	trustExitCode = true
    keepTemporaries = false
    keepBackup = false
[diff]
	external = meld
    tool = vscode
[merge]
    tool = p4merge
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[diff]
    tool = vscode
[difftool "vscode"]
    cmd = code --wait --diff $LOCAL $REMOTE
